body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/*-------------Header------------------*/

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-color {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-address-item {
    display: block;
    padding: 24px 0;

}

.header-menu-list,
.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    display: flex;
}

.header-address-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/*----------------------------------*/

/*-----------Section Title-----------*/

.headline {
    background-color: #2e2f42;

    padding: 188px 0;
    margin: 0 auto;
    width: 100%;
}


.headline-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
    padding-bottom: 48px;
}

.headline-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
}

.headline-btn:hover,
.headline-btn:focus {
    background-color: #404bbf;
}

/*------------------------------------------*/

/*--------------------Content---------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content {
    padding-top: 120px;
    padding-bottom: 120px;
}


.content-menu-list {
    display: flex;
    gap: 24px;

}

.content-menu-item {
    width: calc((100% - 3 * 24px) / 4);
}

.content-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.content-menu-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}



/*------------------------------------------*/

/*-----------------Our Team----------------*/

.team {
    background: #f4f4fd;
    padding: 120px 0;
    width: 100%;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
    text-transform: capitalize;

}

.team-menu-list {
    display: flex;
    gap: 24px;
}

.list-item {
    padding: 32px 0;
    text-align: center;
}


.team-menu-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 3 * 24px) / 4);
}

.team-image {
    background-color: #fff
}


.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-menu-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/*------------------------------------------*/

/*---------------Our Portfol----------------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-name {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 6px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {}


.portfolio-image {}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-left: 16px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
    margin-top: 8px;
}

/*----------------------------------------*/

/*---------------Footer--------------------*/

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    display: inline-block;
    width: 100%;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    padding-top: 16px;
}

/*--------------------------*/